<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>CONFIRMED COVID CASES</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link
      rel="stylesheet"
      type="text/css"
      media="all"
      href="../../css/gtvg.css"
      th:href="@{/css/gtvg.css}"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
    <link rel="stylesheet" href="css/index.css" />
  </head>

  <body>
    <div class="content">
      <h1>Confirmed Covid-19 Cases</h1>
      <div class="tile is-ancestor">
        <div class="tile is-vertical is-12">
          <div class="tile is-parent">
            <article class="tile is-child notification is-danger">
              <p class="title" th:text="${currentTotalCases}"></p>
              <p class="subtitle">Total Cases Reported as of TODAY.</p>
              <hr />
              <p th:text="${difTotalFromPrevDay}"></p>
              <p>Reported new cases since yesterday.</p>
            </article>
          </div>
          <div class="tile">
            <div class="tile is-parent">
              <div class="container is-fluid">
                <table
                  class="table is-striped is-narrow is-hoverable is-fullwidth"
                >
                  <thead>
                    <tr>
                      <th>State/Province</th>
                      <th>Country</th>
                      <th>Confirmed Cases Today</th>
                      <th>Cases Compared to Previous Day</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="covidStat : ${covidStats}">
                      <td th:text="${covidStat.state}"></td>
                      <td th:text="${covidStat.country}"></td>
                      <td th:text="${covidStat.currentCases}">0</td>
                      <td th:text="${covidStat.difFromPrevDay}">0</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
